.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
/* 

.main_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_list{
    padding: 0;
    list-style: none;
}
.social_item{
    float: left;
    margin: 0 5px;
}
.hotels{
    width: 100%;
    height: 408px;
    background: url('../img/filter.png');
}

.visually_hidden{
    display: none;
}

*/
