@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format("woff2");
  font-display: swap;
}


/*  body  */

body{
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #333;
  background-color: #fff; 
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.visually_hidden{
  display: none;
}

.nav_link{
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.buttons{
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 37px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #756257;
}
h1{
  font-size: 60px;
  font-weight: 700; 
  margin: 0;
}
h2{
  text-transform: uppercase;
  font-style: inherit;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
h3, h4{
  text-transform: uppercase;
  font-style: inherit;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*  header  */

.nav_btn{
  width: 160px;
}
.search_icon{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../images/search.svg");
}
.favorite_icon{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../images/favorite.svg");
}


/*  main  */

.main_index{
  text-align: center;
}

.intro_main{
  width: 100%;
  height: 485px;
  background-color: #81B3D2;
  background-image: url("../images/index-background.jpg");
}
.intro_main_img{
  margin-top: 51px;
}
.main_content_item_block{
  box-sizing: border-box;
  background-color: #81B3D2;
  color: #fff;
}
.main_content_item_block .main_content_header{
  color: #fff;
}

.sedona_housing{
  background-color: rgba(131, 179, 211, 0.12);
}
.sedona_food{
  background-color: #fff;
}
.sedona_suveneers{
  background-color: rgba(131, 179, 211, 0.12); 
}
.sedona_town{
  background-color: rgba(131, 179, 211, 0.12); 
}
.sedon_road{
  background-color: rgba(131, 179, 211, 0.20); 
}
.sedona_no_tourists{
  background-color: rgba(131, 179, 211, 0.12); 
}


/*  searching_hotel  */

.hotels_btn{
  width: 575px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
}

/*  subscribe  */

.subscribe{
  width: 100%;
  height: 411px;
  background-color: #81B3D2;
  background-image: url("../images/subscribe_background.jpg");
  color: #fff;
  text-align: center;
}
.subscribe_header{
  color: #fff;
}
.subscribe_btn{
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #83B3D3;
  font-family: inherit;
}

/*  footer  */

.twitter_icon{
  display: inline-block;
  width: 18px;
  height: 15px;
  background-image: url("../images/twitter_icon.svg");
  background-repeat: no-repeat;
}
.facebook_icon{
  display: inline-block;
  width: 10px;
  height: 18px;
  background-image: url("../images/facebook_icon.svg");
  background-repeat: no-repeat;
}
.youtube_icon{
  display: inline-block;
  width: 20px;
  height: 16px;
  background-image: url("../images/youtube_icon.svg");
  background-repeat: no-repeat; 
}

.catalog_hotels{
  width: 100%;
  height: 520px;
  background-image: url("../images/sorting_background.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog_hotels{
  color: #fff;
}
.breadcrumbs_icon{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/home.svg");
}

.submit_btn{
  width: 160px;
  height: 48px;
  background-color: #81B3D2;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.reset_btn{
  width: 160px;
  height: 48px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400px;
  background: none;
}
.view_btn{
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #E5E5E5;
}
.view_cards{
  background-image: url("../images/cards_view.svg");
}
.view_slider{
  background-image: url("../images/slide_view.svg");  
}
.view_list{
  background-image: url("../images/list_view.svg");
}
.user_btns_detail{
  display: inline-block;
  width: 133px;
  height: 37px;  
  font-size: 16px;
  font-weight: 700;
}
.user_btns_favorite{
  display: inline-block;
  width: 140px;
  height: 37px;  
  font-size: 16px;
  font-weight: 700;
  background-color: #81B3D2;
}

.stars_block{
  width: 90px;
  height: 18px;
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
}
.range_block{
  width: 160px;
  height: 37px;
  border-radius: 4px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  line-height: 37px;
  text-align: center;
}

.load_more_hotels{
  display: block;
  width: 620px;
  height: 60px;
  background-color: #81B3D2;
  line-height: 60px;
  margin: 0 auto;
}

.hotels_page_list{
  display: flex;
}
.page_choice_link{
  margin: 5px;
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background-color: #81B3D2;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}




