@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
  height: 100%;
}
.visually_hidden{
  position: fixed;
  transform: scale(0);
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  color: #333333;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.page_header{
  max-width: 88%;
  margin: 0 auto;
}
.page_header_nav{
  display: flex;
}
.navigation_list{
  display: flex;
  align-items: center;
  width: 345px;
  margin-right: auto;
  padding: 0;
  list-style: none;
}
.nav_link_logo{
  width: 139px;
  height: 70px;
}
.nav_link{
  display: block;
  margin: 0 17px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
}
.navigation_user{
  display: flex;
  justify-content: flex-end;
  width: 264px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.search_icon{
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.favorite_icon{
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-image: url("../images/favorite.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}
.favorite_icon::before{
  content: "12";
  position: absolute;
  top: -5px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 1.3;
  text-align: center;
  padding: 3px 0;
}
.nav_btn{
  display: block;
  width: 160px;
  padding: 9px 0;
  border-radius: 4px;
  background-color: #756257;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.intro_main{
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 80px;
}
.intro_main_img{
  display: block;
  margin: 0 auto;
}
.main_content{
  text-align: center;
}
.main_header{
  width: 618px;
  margin: 63px auto 31px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.main_info{
  font-size: 22px;
  line-height: 1.65;
  margin-bottom: 80px;
}
.main_content_list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.main_content_item{
  width: 100%;
  display: flex;
}
.main_content_item_wrap{
  width: 33.33%;
  background: #83b3d3;
  color: #ffffff;
}
.main_content_img{
  display: block;
  width: 66.66%;
  height: 100%;
  object-fit: cover;
}
.main_content_header{
  margin: 0 auto;
  padding-top: 25%;
  width: 180px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
.main_content_info{
  margin: 0 auto;
  width: 230px;
  padding-bottom: 20%;
}
.main_content_item_inner{
  width: 33.33%;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}
.main_content_inner_header{
  margin: 164px auto 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 20px 0;
}
.inner_header_housing::before{
  content: "";
  width: 75px;
  height: 72px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/house_icon.svg");
}
.inner_header_food::after{
  content: "";
  width: 74px;
  height: 70px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/burger_icon.svg");
}
.inner_header_souvenir::before{
  content: "";
  width: 64px;
  height: 76px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/present_icon.svg");
}
.inner_info_housing{
  width: 170px;
  margin: 0 auto 79px;
}
.inner_info_food{
  width: 230px;
  margin: 0 auto 79px;
}
.inner_info_souvenir{
  width: 190px;
  margin: 0 auto 79px;
}
.food_block{
  background-color: #ffffff;
}
.road_block{
  background-color: rgba(131, 179, 211, 0.20);
}
.searching_hotel{
  text-align: center;
}
.searching_hotel_header{
  margin-top: 90px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.searching_hotel_info{
  padding-top: 29px;
  padding-bottom: 56px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
}
.hotels_btn{
  display: block;
  margin: 0 auto 91px;
  width: 575px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  padding: 12px;
  background-color: #756257;
  color: #ffffff;
  border-radius: 10px;
}
.main_subscribe{
  padding: 94px 0;
  text-align: center;
}
.main_subscribe_image{
  background-image: url("../images/subscribe_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.main_subscribe_header{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
.main_subscribe_info{
  width: 470px;
  margin: 29px auto 43px;
  font-size: 22px;
  line-height: 1.2;
}
.subscribe_form{
  display: flex;
  justify-content: center;
}
.subscribe_input{
  display: block;
  width: 600px;
  border-radius: 10px 0 0 10px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.45;
  padding: 17px 20px;
  background-color: #F2F2F2;
  color: rgba(0, 0, 0, 0.6);
}
.subscribe_btn{
  display: block;
  width: 200px;
  border-radius: 0 10px 10px 0 ;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83B3D3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  padding: 17px 0;
}
.main_footer{
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 0 auto;
  padding:
}
.social_list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.main_footer_icon{
  display: block;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
}
.twitter_icon{
  background-image: url("../images/twitter_icon.svg");
}
.facebook_icon{
  background-image: url("../images/facebook_icon.svg");
}
.youtube_icon{
  background-image: url("../images/youtube_icon.svg");
}
.main_footer_phone{
  font-style: normal;
  text-decoration: none;
  font-size: 40px;
  line-height: 1;
  color: #000000;
}
/* ---------------------------------------- catalog.html ----------------------------------------------- */
.catalog_hotels{
  color: #ffffff;
  background-image: url("../images/sorting_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.catalog_header{
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
}
.catalog_list_breadcrumbs{
  list-style: none;
  margin: 0;
  padding: 0 0 45px 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.catalog_list{
  list-style: none;
  margin: 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.breadcrumbs_icon{
  display: block;
  padding: 18px;
  width: 12px;
  height: 12px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 25px;
  position: relative;
}
.breadcrumbs_icon::after{
  position: absolute;
  top: 50%;
  left: 100%;
  content: "";
  width: 6px;
  height: 10px;
  background: url("../images/arrow_right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}
.catalog_hotels_filter{
  width: 88%;
  margin: 0 auto;
  padding-bottom: 88px;
  display: flex;
  justify-content: space-between;
}
.catalog_input_inner_wrap{
  width: 288px;
  padding-top: 34px;
  display: flex;
  justify-content: center;
}
.catalog_fieldset{
  margin: 0;
  padding: 0;
  border: 0;
}
.catalog_fieldset_type{
  margin-right: 160px;
}
.catalog_hotels_title{
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}
.catalog_item_input{
  margin: 0;
  width: 144px;
}
.input_min{
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #ffffff;
}
.input_max{
  border: 2px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-radius: 0 4px 4px 0;
}
.price_field{
  display: block;
  width: 100%;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  padding: 12px 0;
}
.range_field{
  width: 287px;
}
.catalog_buttons_wrap{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
.catalog_button{
  display: block;
  width: 160px;
  padding: 14px 0;
  border-radius: 4px;
  background-color: #83B3D3;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}
.reset_btn{
  padding: 12px 0;
  background: none;
  font-size: 18px;
  font-weight: 400;
  text-transform: inherit;
}
.checkbox{
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}
.radio_btn{
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}
.hotels_sort{
  max-width: 88%;
  padding: 53px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.hotels_sort_header{
  text-transform: uppercase;
  margin: 0;
  padding-right: 190px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
}
.hotels_select{
  width: 287px;
  padding: 12px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.3;
  color: #333333;
}
.view_btn{
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}
.view_cards{
  background-image: url("../images/cards_view.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: 81px;
}
.view_slider{
  background-image: url("../images/slide_view.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 8px;
}
.view_list{
  background-image: url("../images/list_view.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.hotels_search_result{
  max-width: 88%;
  margin: 0 auto;
}
.search_list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.search_result_inner{
  width: 340px;
  height: 438px;
  padding: 20px;
  margin: 0 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.result_header_link{
  width: 100%;
  text-decoration: none;
  color: #000000;
}
.result_header{
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}
.hotel_type{
  margin: 0;
  padding: 0;
  width: 133px;
}
.hotel_price{
  margin: 0;
  padding: 0;
  width: 140px;
}
.user_btn{
  display: block;
  margin: 16px 0;
  width: 133px;
  padding: 8px;
  background-color: #756257;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}
.user_btn_favorites{
  width: 140px;
  background-color: #83B3D3;
  text-transform: uppercase;
}
.stars_block{
  width: 90px;
  height: 19px;
  margin: 0;
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
}
.range_block{
  width: 160px;
  margin: 0;
  padding: 8px;
  border-radius: 4px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
}
.hotel_range_info{
  padding-left: 5px;
}
.load_more_hotels_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 54px auto 30px;
  padding: 30px 0;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
.load_more_hotels{
  display: block;
  margin: 0 auto;
  width: 620px;
  padding: 17px 0;
  border-radius: 10px;
  background-color: #83B3D3;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
  position: relative;
}
.hotels_search_paging{
  max-width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotels_page_list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hotel_view_page{
  margin: 0;
  display: flex;
  align-items: center;
}
.page_choice_link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  background-color: #83B3D3;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-right: 5px;
}
.hotels_on_page{
  display: block;
  width: 160px;
  padding: 11px 17px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  color: #333333;
}
.hotels_on_page_text{
  padding-right: 50px;
}


















































